/*NS CSS file for HW-Wireframe*/
html {
  text-align: center;
}


* {
  box-sizing: border-box;
  text-align: center;
}

body{
	margin: 0;
    padding: 0;
	width:960px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	background-color: #777;
}



header, nav, footer, aside, section, p{
	
	background-color: #ebebeb;
}

header{
	/*padding: 20px 0px 20px 0px;*/
	margin: 0px 0px 10px 0px;
}

nav{
	/*padding: 20px 0px 20px 0px;*/
	margin: 0px 0px 20px 0px;
}

header, nav, footer{
	padding: 20px 0px 20px 0px;
}

section{
	width: 495px;
	height: 355px;
	float: left;
	position: relative;
	overflow: auto;

}

#article{
	clear: both;
	background-color: #777;
	position: absolute;
	width: 455px;
	height: 250px;
	color: white 
	padding-left: 20px;
	left: 20px;
	
}

h3{
	color: white
}

aside{
	float: right;
	width: 400px;
	height: 355px;
	padding: 20px 20px 20px 20px;
	margin: 0px 0px 0px 10px;
}

footer{
	margin-top: 5px;
}

p{
	margin: 5px 5px 25px 5px;
	padding: 15px 0px 5px 0px;

}



.clear{
	clear: both;
}